@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tektur:wght@400..900&display=swap');
.App {
    text-align: center;
    overflow: hidden;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .headerTitle{
    font-size: 42px;
    font-family: "Tektur", sans-serif;
  }
  
  @media screen and (max-width: 550px){
    .headerTitle{
      font-size: 24px;
    }
  }
  .footer{
    display: flex;
    flex-direction: column;
    margin: 50px 0;
  }
  .footer .footerItem{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }
  
  .footerItem .footerTitle{
    color: #ecb542;
    font-family: "Tektur", sans-serif;
  }
  .footerItem .footerLink{
    text-decoration: none;
    color: white;
    font-family: "Tektur", sans-serif;
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  /* @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  